.content-wrapper {
  height: 100%;
  display: flex;
}

.side-bar {
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 5rem;
  border-right: 2px solid #6b7db3;
  max-width: 300px;
  height: 100%;
  backdrop-filter: blur(10px);
  color: #e6ecff;
  font-size: 18px;
}

.user-section {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #6b7db3;
}

.form-field {
  display: flex;
  flex-direction: column;

  input[type="text"] {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #e6ecff;
    font-size: 18px;
  }

  input[type="submit"] {
    background-color: transparent;
    align-self: center;
    margin-top: 20px;
    padding: 0.5rem;
    border: 1px solid #ccd9ff;
    font-size: 18px;
    cursor: pointer;
    transition: 300ms;
  }

  button {
    background-color: transparent;
    align-self: center;
    margin-top: 20px;
    padding: 0.5rem;
    border: 1px solid #ccd9ff;
    font-size: 18px;
    cursor: pointer;
    transition: 300ms;
  }

  button:hover {
    padding-left: 1rem;
    padding-right: 1rem;
    letter-spacing: 0.05rem;
  }

  input[type="submit"]:hover {
    padding-left: 1rem;
    padding-right: 1rem;
    letter-spacing: 0.05rem;
  }
}

.user-data-list {
  list-style-type: none;

  .value {
    color: #ffffff;
    font-weight: 600;
  }
}

.img-download {
  input {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #e6ecff;
    font-size: 18px;
    max-width: 200px;
  }

  input::placeholder {
    color: #e6ecff;
  }

  button {
    padding: 0.3rem;
    margin-left: 0.2rem;
    border: none;
    background-color: transparent;
    color: #e6ecff;
    font-size: 16px;
    cursor: pointer;
    transition: 300ms;
    border-left: 2px solid #e6ecff;
  }

  button:hover {
    color: white;
    background-color: #9999ff;
  }
}

.content {
  margin-left: 4rem;
  margin-top: 4rem;

  .coordinates {
    color: #ccd9ff;
    backdrop-filter: blur(10px);
    margin: 4rem 0;

    p {
      margin-left: 2rem;
    }

    .city-details {
      display: flex;
      flex-direction: row;
      margin-bottom: 1rem;

      div {
        margin-right: 10px;
      }
    }
  }

  .images {
    margin: 4rem 0;
    color: #0a0d16;
    backdrop-filter: blur(10px);

    .controllers {
      display: flex;
      flex-direction: row;
      align-items: center;

      h4 {
        margin: 0;
      }

      button {
        height: 100%;
        margin-left: 0.5rem;
        padding: 0 0.5rem;
        border-left: 2px solid #ccd9ff;
        font-size: 16px;
        transition: 150ms ease;
      }

      button:hover {
        letter-spacing: 0.03rem;
      }
    }
  }
}

#refresh-cities-button {
  cursor: pointer;
  transition: 150ms ease;
}

#refresh-cities-button:hover {
  color: green;
}

audio {
  display: none;
}

.play-audio {
  cursor: pointer;
}
